<h1>Homes#csv</h1>
<p>Find me in app/views/homes/home.html.erb</p>

<%= link_to "座の一覧", new_za_path(format: :csv), class: "btn btn-info h4" %>
<%= link_to "分類の一覧", new_category_path(format: :csv), class: "btn btn-info h4" %>
<%= link_to "座分類交差テーブルの一覧", category_x_new_za_path(format: :csv), class: "btn btn-info h4" %>
