<div class = "col-6 h-100 border row mx-0 px-0 py-2 <%= color_class %>">
  <div class = "text-center h6 col-12"><%= area_name %></div>
  <% cards.each do |c| %>
    <%= render "cards/card", card: c %>
  <% end %>
</div>
